@import url('https://fonts.googleapis.com/css2?family=Roboto+flex:opsz,wght@0..144,100..1000&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "roboto" sans-serif;
}

.productos{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #ebebeb;
}

h2 {
    text-align: center;
}

/* section {
    display: flex;
    flex-direction: column;

} */


.section{
    display: flex;

}

.productos-articulos {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    background-color: #ebebeb;
    padding: 15px;
    margin: 0 auto;
}

.imagen {
    max-width: 250px;
    width: 100%;
    text-align: center;
    height: auto;

}

.article {
    background-color: white;

}

.descripcion {
    background-color: white;
    padding-top: 5px;
    font-size: 16px;
    width: 100%;
    border-top: solid 1px #ebebeb;

}

.fa-truck-fast {
    color: #39b54a;
    border: 1px solid #39b54a;
    width: 15%;
    height: 75%;
    border-radius: 100%;
    margin-top: 10px;
    padding: 8px;

}

.camion {
    margin-top: -15px;
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    position: relative;
    top: -10px;
}

.precio-descuento {
    display: flex;
    flex-direction: row;

}

.precio {
    margin-left: 50px;
    font-size: 20px;

}

.descuento {
    color: #39b54a;
    font-size: 20px;
    margin-left: 25px;
}

h3 {
    margin-left: 50px;
}

@media(min-width:768px) {
    .imagen{
        display: flex;
        justify-content: center;
    }
    .productos-articulos{
        width: 40%;
    }
    .descripcion{
        width: 95%;
    }
}

@media(min-width:1024px) {

    .productos-articulos{
        width: 25%;

    }

    .descripcion{
        width: 100%;
    }
}